body {
    background-color: #111;
}

.botao_voltar button {
    color: #fff;
    font-size: 50px;
    margin: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: absolute;
}

.botao_voltar button:hover {
    color: #fafafaaa;
    font-size: 70px;
}

main {
    width: 100%;
    height: 100%;
}

.cabecalho {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto 10px auto;
}

.cabecalho h1 {
    color: #fff;
    text-transform: uppercase;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.container_item {
    padding: 10px;
    display: flex;
    position: relative;
}

.item {
    display: flex;
    text-transform: uppercase;
    margin: 10px 10px;
}

.title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 5px;
}

.descricao {
    color: rgba(250,250,250, 0.7);
    font-size: 12px;
    max-width: 500px;
}

.preco {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #fff;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid rgba(1,1,1, 0.5);
    border-radius: 10px;
    cursor: default;
    margin-left: 8px;
    /* position: absolute;
    right: 0; */
}

.preco span {
    font-size: 12px;
}

.containerSucos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.divisor {
    margin-top: 12px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}

.containerSucos .titleSucos {
    color: #fff;
    text-transform: uppercase;
    margin: 10px;
}

.descriptionPriceSucos {
    color: #fff;
}

.containerItemsSucos {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}

.category_refri {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
}