*{
    margin: 0;
    padding: 0;
    }
    
    body {
    height: 100vh;
    width: 100vw;
    }
    
    .botao_voltar button {
    color: #fff;
    font-size: 50px;
    margin: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    }
    
    .botao_voltar button:hover {
    color: #fafafaaa;
    font-size: 100px;
    }
    
    main {
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.95);
    display: flex;
    flex-direction: column;
    gap: 30px;
    }