*{
    margin: 0;
    padding: 0;
    }
    
    body {
    height: 100vh;
    width: 100vw;
    }
    
    .botao_voltar button {
    color: #111;
    font-size: 30px;
    margin: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: fixed;
    }
    
    .botao_voltar button:hover {
    font-size: 100px;
    }
    
    main {
    width: 100%;
    height: 130vh;
    background: url(../images/salgados2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 30px;
    }

    /* .pasteis_menu {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        justify-content: space-around;
        padding: 15px;

    }

    .pasteis_menu p {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
    } */