*{
margin: 0;
padding: 0;
}

body {
height: 100vh;
width: 100vw;
}

.botao_voltar button {
color: #fff;
font-size: 50px;
margin: 10px;
background-color: transparent;
border: 0;
cursor: pointer;
transition: 0.4s ease-in-out;
position: fixed;
}

.botao_voltar button:hover {
color: #fafafaaa;
font-size: 100px;
}

main {
width: 100%;
height: 100%;
background: rgba(17, 17, 17, 0.95);
display: flex;
flex-direction: column;
gap: 30px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7%;
    margin: 0 10px 10px 10px;
}

.cabecalho h1 {
    color: #fff;
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}

.menus {
    display: flex;
    justify-content: space-around;
}

.menu_left {
    width: 35%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    font-family: cursive;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 5px;
}

.descricao {
    color: rgba(250,250,250, 0.7);
    font-size: 12px;
}

.preco {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #fff;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid rgba(1,1,1, 0.5);
    border-radius: 10px;
    cursor: default;
}

.preco span {
    font-size: 12px;
}
.menu_right {
    width: 35%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

@media(max-width:500px){

    main {
        height: 150%;
    }
    .menus{
        flex-direction: column;
    }

    .menu_left, .menu_right {
        width: 90%;
        margin: 0 15px;
    }
}